.splitUL {
    columns: 3;
}


.hidden {
    display: none;
}

.visible {
    display: block;
}

.paddingTopBottom {
    padding: 8px 0px;
}

.changeable {
    text-decoration: underline;
    cursor: pointer;
}
